%body
  %header.masthead.post-bg.jpg
    .overlay
    .container
      .row
        .col-lg-8.col-md-10.mx-auto
          .post-heading
            %h1= @post.title
            %h2.subheading= @post.subtitle
            %span.meta
              Posted by
              %a{:href => "#"} pep@example.com
              on 
              = @post.created_at.strftime("%A, %b %d")
  / Post Content
  %article
    .container
      .row
        .col-lg-8.col-md-10.mx-auto
          = simple_format(@post.body)
          = link_to 'Edit', edit_post_path(@post), class: 'btn btn-success'
          = link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
  %hr/
